<div id="<%= dom_id email %>">
  <p>
    <strong>Sender:</strong>
    <%= email.sender %>
  </p>

  <p>
    <strong>Reciever:</strong>
    <%= email.reciever %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= email.content %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= email.Student_id %>
  </p>

</div>
